*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background-color: rgb(48, 48, 48);
	color:black;
	margin:2%;
    
}

#contenedor{
    width: 1200px;
    background-color: rgb(150, 150, 150);
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 black;
}

#encabezado{
    width: 90%;
    background-color: rgb(173, 173, 173);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px 0 black;
}

#menu {
    height: 40px;
    background-color: rgb(197, 197, 197);
    margin: 1em;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 black;
}

ul{
    text-align: center;
    padding: 10px;
}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

li a:hover{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}

.img{
    width: 100%;
    justify-items: center;
}

.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 5px 25px;
    color: black;
}

#pie{
    height: 60px;
    background-color: rgb(0, 0, 0);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

#pie h4{
    padding: 15px;
    font-size: 30px;
    color: rgb(0, 136, 255);
}

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card{
box-shadow: 0 4px 8px 0 black;
overflow: hidden;
max-width: 500px;
margin: 10px;
text-align: center;
border: 2px solid;
vertical-align: top;
}

.card:hover{
max-width: 510px;
}

.card img{
background-color:rgb(0, 0, 0);
}



button{
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: white;
background-color: black;
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
}

button:hover{
opacity: 0.7;
color: blue;
}

flex-box
.contenedorFlex{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}